.light {
    --fontColor: #3D3D3D;
    --backgroundColor: #fdfcfa;
    --navbarFontColor: #5c5d5e;
    --navbarBrandColor: #000000;
    --themeColor: #1f364c;
    --publishColor: #ffe1dd;
    --projectDescriptionColor: #d8efee;
    --projectHighlightColor: #f5dfbc;
    --codeColor: #fffae1;
  }
  
  body {
    background-color: #fdfcfa;
    color: var(--fontColor);
    font-family: 'Merriweather', sans-serif;
    line-height: 1.8em;
  }

  h3 a {
    color: #1f364c;
  }
  
  code {
    background-color: #fffae1;
    padding: 3px 5px 3px 5px;
    border-radius: 0.3rem;
  }